@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic&display=swap&subset=cyrillic-ext);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 11px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Ubuntu";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Ubuntu";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f7f7;
  padding: 40px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 800px;
  padding: 0px 20px;
  margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=password]:focus,
textarea:focus {
  outline: none;
}

.input {
  width: 100%;
  height: 33px;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 10px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000;
}

.input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

textarea.input {
  resize: none;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
  color: #f9f9f9;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffde6a;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
  display: none;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header__settings {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
  cursor: pointer;
}

.person-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person-header__person {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 5;
}

.person-header__person img {
  width: 100%;
}

.person-header__grade {
  position: relative;
  z-index: 4;
  font-size: 11px;
  line-height: 13px;
  width: 26px;
  height: 26px;
  -webkit-transform: translate(-3px, 0);
      -ms-transform: translate(-3px, 0);
          transform: translate(-3px, 0);
}

.person-header__grade_2 {
  z-index: 3;
  -webkit-transform: translate(-5px, 0);
      -ms-transform: translate(-5px, 0);
          transform: translate(-5px, 0);
}

.footer {
  margin: 40px 0px 0px 0px;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  line-height: 17px;
  color: #7452ff;
  font-weight: 300;
}

.footer__icon {
  margin: 0px 5px 0px 0px;
}

.roboto,
.grade {
  font-family: "Roboto";
}

.grade {
  background: #000000;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-weight: bold;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grade_purple {
  background: #7452ff;
}

.persons-list {
  margin: 40px 0px 0px 0px;
}

.persons-list__person {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 10px;
}

.persons-list__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.persons-list__rating {
  font-size: 14px;
}

.persons-list__imageandgrades {
  position: relative;
}

.persons-list__image {
  width: 50px;
  margin: 0px 20px 0px 0px;
}

.persons-list__image img {
  width: 100%;
}

.persons-list__grades {
  position: absolute;
  top: 2px;
  right: 10px;
}

.persons-list__grade {
  width: 21px;
  height: 21px;
  font-size: 9px;
  line-height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

.persons-list__grade_2 {
  z-index: 2;
  -webkit-transform: translate(0, -3px);
      -ms-transform: translate(0, -3px);
          transform: translate(0, -3px);
}

.persons-list__content {
  font-weight: 300;
}

.persons-list__name {
  font-size: 15px;
  line-height: 17px;
  margin: 0px 0px 5px 0px;
}

.persons-list__name_2 {
  margin: 0px 0px 2px 0px;
}

.persons-list__position_2 {
  margin: 0px 0px 5px 0px;
}

.persons-list__position_gray {
  color: #aaaaaa;
}

.persons-list__text {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
}

.person-main__info_margin {
  margin: 0px 0px 15px 0px;
}

.person-main {
  margin: 40px 0px 0px 0px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
  padding: 20px 10px;
  border-radius: 20px;
}

.person-main__imageandgrades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 15px 0px;
  position: relative;
}

.person-main__image {
  width: 70px;
}

.person-main__image img {
  width: 100%;
}

.person-main__grades {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.person-main__grade {
  width: 45px;
  height: 45px;
  font-size: 15px;
  line-height: 18px;
}

.person-main__content {
  text-align: center;
}

.person-main__name {
  font-size: 15px;
  line-height: 17px;
  margin: 0px 0px 6px 0px;
}

.person-main__position {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #7452ff;
}

.review-person-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0px 0px 0px;
}

.review-person-main__rating {
  font-size: 25px;
  margin: 0px 0px 15px 0px;
}

.review-person-main__text {
  margin: 0px 0px 10px 0px;
  background: #f9f9f9;
  border-radius: 10px;
  resize: none;
  width: 100%;
  padding: 10px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  height: 80px;
}

.review-person-main__text::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.review-person-main__text::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.review-person-main__text:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.review-person-main__text::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.review-person-main__text::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.review-person-main__button {
  height: 40px;
  border-radius: 11px;
  background-color: #7452ff;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  width: 100%;
  color: #fff;
}

.authorization {
  padding: 50px 0px 0px 0px;
}

.authorization__form {
  background: #fff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 30px 35px;
}

.authorization__file {
  width: 70px;
  height: 70px;
  background: rgba(82, 99, 255, 0.4);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0px auto;
  pointer-events: none;
}

.authorization__file img {
  width: 100%;
}

.authorization__file::before {
  position: absolute;
  content: "";
  background: url("../img/icons/camera.svg") center/cover no-repeat;
  width: 20px;
  height: 20px;
}

.authorization__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
}

.authorization__line {
  position: relative;
}

.authorization__line_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authorization__line_select::before {
  content: "";
  background: url("../../img/icons/arrow.svg") 0 0/contain no-repeat;
  position: absolute;
  right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  width: 16px;
  height: 7px;
}

.authorization__line:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.authorization__change-password {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #6b3af7;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.authorization__inputs {
  margin: 0px 0px 30px 0px;
}

.authorization__input_file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.authorization__select {
  width: 100%;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.authorization__button {
  background: #7452ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  height: 33px;
  border-radius: 13px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}